[user]
  name = Manfredi Bernardi
	email = manfredi.bernardi3108@gmail.com

[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[core]
	editor = vim
	sshCommand = /usr/bin/ssh
	pager = cat

[alias]
	lolp = log --graph --pretty=format:\"%C(yellow)%h%Creset%C(cyan)%C(bold)%d%Creset %C(cyan)(%cr)%Creset %C(green)%ce%Creset %s\"
	lol = log --graph --decorate --pretty=oneline --abbrev-commit
	lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
	lolap = log --graph --decorate --pretty=oneline --abbrev-commit --exclude='*prod*' --all
	lolan = log --graph --decorate --pretty=oneline --abbrev-commit --all --name-status

[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
